In [45]:
import pandas as pd
import csv

In [241]:
output = pd.read_csv('D:\\Work\\Results\\results_v2_12.csv')

In [242]:
output.head()

,author_id,proc_id,reco_article_id,score,related_article_id,keywords
0,a_21122,1830761,1830778,1267.035139,1570344,{70056:62.08918116376727;2724:0.01009259259259...
1,a_21122,1830761,1830787,690.554274,1830778,{70056:37.791530956805715;1252:0.0077160493827...
2,a_21122,1830761,1830783,690.554274,1830778,{70056:37.791530956806184;1252:0.0077160493827...
3,a_21122,1830761,1830779,1053.285847,1570344,{70056:51.83699006215149;2724:0.01009259259259...
4,a_21122,1830761,1830772,1130.325082,1830778,{70056:61.757316665564424;2273:0.0079527777777...

In [243]:
ground_truth = pd.read_csv('D:\\Work\\Database\\CSV\\evaluation_data_unique1.csv')

In [244]:
ground_truth.head()

  author_id  article_id  ref_obj_id  proc_id
0  a_117253      122704        5640     5600
1  a_117253      122704        5906     5600
2  a_256546      313777       10534    10515
3   a_95474     2063517       10546    10515
4  a_268309     1542260       10549    10515

output1 = output.groupby()nlargest(5, 'score')

In [298]:
output1 = output.groupby(['author_id', 'proc_id']).apply(lambda dfg: dfg.nlargest(20,'score')).reset_index(drop=True)

In [299]:
output1

,author_id,proc_id,reco_article_id,score,related_article_id,keywords
0,a_110533,54852,378484,59.492984,810237,{4119:0.6479388732076227;6764:0.00540141514874...
1,a_110533,54852,378487,47.629105,810237,{9675:0.4228392967020159;18472:0.0026104815808...
2,a_110533,54852,378482,46.565511,949617,{9643:0.860351572063279;23384:0.00343781208585...
3,a_110533,54852,378490,45.172835,15889,{1490:0.7915016752454549;1486:0.00580819967373...
4,a_110533,54852,378476,38.880558,15889,{334:0.49874849369262236;9693:0.00296050525758...
5,a_110533,54852,378507,34.614642,134061,{1838:1.868035687005726;29674:0.02726689974895...
6,a_110533,54852,378516,33.176460,810237,{4119:0.44532847026924516;5195:0.0021352496058...
7,a_110533,54852,378514,29.052150,810237,{4119:0.4343628187953327;560:0.004304457665919...
8,a_110533,54852,378468,29.027763,810237,{9675:0.8794195388445238;9655:0.00223226667949...
9,a_110533,54852,378509,28.977676,134061,{1838:1.652119578758455;2280:0.018174922251223...
10,a_110533,54852,378522,27.303504,134061,{1838:1.54183155299347;1498:0.0167178161950528...
11,a_110533,54852,378508,27.259091,134061,{1838:1.2497446586305618;7382:0.01721599200501...
12,a_110533,54852,378492,25.916123,15889,{1490:0.4939020115947104;14102:0.0021583697745...
13,a_110533,54852,378530,25.077190,1316636,{1976:1.7013024151883365;519:0.014808691133320...
14,a_110533,54852,378524,23.918612,134061,{1838:1.320339731308324;2250:0.014489525975241...
15,a_110533,54852,378497,22.142616,280861,{1838:0.804163527526004;860:0.0197531395921056...
16,a_110533,54852,378518,19.928295,810237,{4119:0.20421762827805964;1490:8.0848566792564...
17,a_110533,54852,378528,18.158441,280861,{1838:0.6300851324948594;106200:0.009046219983...
18,a_110533,54852,378513,17.870033,810237,{4119:0.4001512568501599;9654:4.49828004771558...
19,a_110533,54852,378531,17.077608,134061,{1838:1.0129069958686234;12296:0.0106857257190...
20,a_134519,74877,74884,8.427556,951716,{343:0.3963905146378202;1472:0.002107971506968...
21,a_134519,74877,74919,6.167130,1387678,{6655:0.3379743045094971;2960:0.00296228242906...
22,a_134519,74877,74882,4.961001,1941577,{1513:0.29072673648701775;202:5.19589317208364...
23,a_134519,74877,74879,4.320797,1098966,{137:0.15110560191606753;13213:0.0031035298581...
24,a_134519,74877,74889,3.060168,2555263,{2948:0.30940078901926443;258:7.70765289763082...
25,a_134519,74877,74885,2.936935,2555263,{2948:0.1451411493576626;2900:0.00112010480469...
26,a_134519,74877,74911,2.728595,2555263,{2948:0.12695612596290154;2896:9.7268860953731...
27,a_134519,74877,74888,2.609412,2555263,{2948:0.2484772748549906;1513:0.00120871851485...
28,a_134519,74877,74923,2.274559,1387678,{6655:0.1442873647568651;1628:4.99088891158050...
29,a_134519,74877,74883,2.193162,2555263,{2948:0.11155668621558067;6500:0.0010984646972...
...,...,...,...,...,...,...
210,a_293891,143457,143472,59.167833,266852,{2581:1.576625258634481;104803:0.0193099494567...
211,a_293891,143457,143530,55.055589,2493446,{606:1.8487653393313237;786:0.0340044017730512...
212,a_293891,143457,143462,54.365273,2493446,{706:1.4783301958774124;283:0.0234001164467997...
213,a_293891,143457,143544,48.266083,2493446,{706:1.4903267482305975;271:0.0363187447401698...
214,a_293891,143457,143459,45.193562,240236,{2581:0.9265078412103821;7666:0.00960218775462...
215,a_293891,143457,143527,45.104540,266852,{948:1.6334380459978497;1967:0.007279623832565...
216,a_293891,143457,143476,44.149424,266852,{948:0.8899014413114731;452:0.0110427341379062...
217,a_293891,143457,143460,38.243853,266852,{948:1.172036807519178;2685:0.0073127780474462...
218,a_293891,143457,143475,37.244541,642623,{1967:1.3296066472539072;860:0.007691329640640...
219,a_293891,143457,143465,36.859456,2449446,{906:1.6943537344351365;2068:0.009976483157930...
220,a_70508,1830761,1830778,893.235229,1830772,{70056:61.757316665564424;2273:0.0079527777777...
221,a_70508,1830761,1830790,814.944288,1830778,{70056:60.291091725294514;120067:0.01592745008...
222,a_70508,1830761,1830772,807.123650,1830778,{70056:61.757316665564424;2273:0.0079527777777...
223,a_70508,1830761,1830777,792.705449,1830772,{70056:53.707681226698746;2273:0.0079527777777...
224,a_70508,1830761,1830773,745.285377,1830778,{70056:58.1275702586048;2273:0.007952777777777...
225,a_70508,1830761,1830779,738.602062,1830772,{70056:52.39719174868982;23969:0.0079089506172...
226,a_70508,1830761,1830781,727.793288,1830778,{70056:53.57294759433342;11100:0.0077787422839...
227,a_70508,1830761,1830788,699.339170,1830778,{70056:51.76213808599746;120067:0.006344307270...
228,a_70508,1830761,1830782,698.351732,1830778,{70056:52.34873047391913;2273:0.00825925497256...
229,a_70508,1830761,1830764,690.474880,1830778,{70056:52.139581410394925;1252:0.0077160493827...
230,a_70508,1830761,1830780,683.882717,1830772,{70056:47.11593506267439;23969:0.0079089506172...
231,a_70508,1830761,1830771,666.854619,1830778,{70056:50.80795599060877;23969:0.0078135206414...
232,a_70508,1830761,1830765,648.285971,1830778,{70056:49.774373280599505;1252:0.0077160493827...
233,a_70508,1830761,1830775,615.341034,1830778,{70056:49.781381257487595;1252:0.0077160493827...
234,a_70508,1830761,1830776,607.488744,1830778,{70056:49.34068187701301;1252:0.00771604938271...
235,a_70508,1830761,1830896,597.055187,1830778,{2739:38.86899238485066;31141:0.01567034406565...
236,a_70508,1830761,1830768,575.995027,1830778,{70056:38.44380521186591;120067:0.006172839506...
237,a_70508,1830761,1830794,525.690786,1830778,{70056:40.567950234476484;20698:0.007396025551...
238,a_70508,1830761,1830796,508.850659,1830778,{70056:34.883374355858344;2724:0.0075694444444...
239,a_70508,1830761,1830787,485.652468,1830778,{70056:37.791530956805715;1252:0.0077160493827...

In [300]:
output_1 = output1[['author_id', 'proc_id', 'reco_article_id']]

In [301]:
output_1 = output_1.rename(index=str, columns={"reco_article_id": "ref_obj_id"})

In [302]:
output_1.head()

  author_id  proc_id  ref_obj_id
0  a_110533    54852      378484
1  a_110533    54852      378487
2  a_110533    54852      378482
3  a_110533    54852      378490
4  a_110533    54852      378476

In [303]:
gt_1 = ground_truth[['author_id', 'proc_id', 'ref_obj_id']]

In [304]:
gt_1.head()

  author_id  proc_id  ref_obj_id
0  a_117253     5600        5640
1  a_117253     5600        5906
2  a_256546    10515       10534
3   a_95474    10515       10546
4  a_268309    10515       10549

In [305]:
gt_output = gt_1.append(output_1)

In [306]:
gt_output.head()

  author_id  proc_id  ref_obj_id
0  a_117253     5600        5640
1  a_117253     5600        5906
2  a_256546    10515       10534
3   a_95474    10515       10546
4  a_268309    10515       10549

gt_output = gt_1

In [307]:
gt_count = gt_output.groupby(['author_id', 'proc_id', 'ref_obj_id']).size().reset_index()

In [308]:
gt_count = gt_count.rename(index=str, columns={0: "count"})

In [309]:
gt_count.head()

  author_id  proc_id  ref_obj_id  count
0  a_100323   320080      320119      1
1  a_100323   337292      337523      1
2  a_100323   371636      371752      1
3  a_100323   513918      514077      1
4  a_100323   774789      774805      1

In [1]:
gt_count[gt_count['count'] > 3].count()

NameError: name 'gt_count' is not defined

In [284]:
gt_output[gt_output['author_id'] ==  ]

SyntaxError: invalid syntax (<ipython-input-284-3d119fd45791>, line 1)